{% extends "base.html" %} {% block title %}Order{% endblock %} {% block content
%}
<form method="POST">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-xl-1 px-sm-1 bg-white">
        <div class="d-flex flex-column align-items-sm-start pt-2 min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"id="menu"></ul>
        </div>
      </div>
      <div class="col py-3">
        <h3 align="left">Order custom Tree</h3>
        <div class="form-group">
          <label for="treetype">Type of Tree</label>
          <select name="treetype" id="treetype">
            <option value="gemtree">Gemtree</option>
            <option value="wiretree">Wiretree</option>
          </select>
        </div>
        <div class="form-group">
          <label for="leavetype">Type of leave</label>
          <select name="leavetype" id="leavetype">
            <option value="amethyst">Amethyst</option>
            <option value="wiretree">Wiretree</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
