{% extends "base.html" %} {% block title %}Order{% endblock %} {% block content
%}
<form method="POST">
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-xl-1 px-sm-1">
        <div class="d-flex flex-column align-items-sm-start pt-2 min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <a class="nav-item nav-link" id="create_entry" href="/create-entry">Create Entry</a>
            <a class="nav-item nav-link" id="add_materials" href="/add-materials">Add Materials</a>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="col py-3">
          <h4 align="left">General</h4>
          <div class="form-group">
            <label for="treetype">Type of Tree</label>
            <select name="treetype" id="treetype">
              <option value="gemtree">Gemtree</option>
              <option value="wiretree">Wiretree</option>
            </select>
          </div>
          <div class="form-group">
            <label for="trunk">Trunkcolor</label>
            <select name="trunk" id="trunk">
              <option value="blue">Blue</option>
            </select>
          </div>
          <div class="form-group">
            <label for="base">Base</label>
            <select name="base" id="base">
              <option value="epoxy">Epoxy</option>
              <option value="slab">Slab</option>
            </select>
          </div>
          <div class="form-group">
            <label for="led">LED</label>
            <div class="form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                value="led"
                id="led"
              />
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {% for mesg in get_flashed_messages() %}
        <h5>{{ mesg }}</h5>
        {% endfor %}    
        </div>
      </div>
      <div class="column">
        <div class="col py-3">
          <h4 align="left">Materials</h4>
          <div class="form-group">
            <details>
              <summary>Type of leave</summary>
              <ul>
                <li>
                  <label for="amethyst">Amethyst</label>
                  <input
                    type="checkbox"
                    id="materials"
                    name="materials"
                    value="amethyst"
                  />
                </li>
                <li>
                  <label for="ruby">Ruby</label>
                  <input type="checkbox" id="materials" name="materials" value="ruby" />
                </li>
              </ul>
            </details>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="col py-3">
          <h4 align="left">Measurements</h4>
          <div class="form-group">
            <div class="form-group">
              <label for="treeheight">Treeheight</label>
              <input
                type="treeheight"
                class="form-control"
                id="treeheight"
                name="treeheight"
                placeholder="Enter Treeheight"
              />
            </div>
            <div class="form-group">
              <label for="treewidth">Treewidth</label>
              <input
                type="treewidth"
                class="form-control"
                id="treewidth"
                name="treewidth"
                placeholder="Enter Treewidth"
              />
            </div>
            <div class="form-group">
              <label for="treelength">Treelength</label>
              <input
                type="treelength"
                class="form-control"
                id="treelength"
                name="treelength"
                placeholder="Enter Treelength"
              />
            </div>
            <div class="form-group">
              <label for="socketwidth">Socketwidth</label>
              <input
                type="socketwidth"
                class="form-control"
                id="socketwidth"
                name="socketwidth"
                placeholder="Enter Socketwidth"
              />
            </div>
            <div class="form-group">
              <label for="socketlength">Socketlength</label>
              <input
                type="socketlength"
                class="form-control"
                id="socketlength"
                name="socketlength"
                placeholder="Enter Socketlength"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
